* {
    padding:0;
    margin:0;
    list-style-type:none;
    // font-family: 'Source Sans Pro', sans-serif;
}
body {
	background-color: #341a09;
}


.top{
	margin:1em;
	position: relative;

	.back-btn {
		position: absolute;
		top:0;
		left:0;
		height: 2.5em;
	    display: block;

	    img{
			display: block;
			height: 100%;
	    }
	}
	p {
		line-height: 2.5rem;
		color: #fff;
		font-weight: 300;
		font-size: 1.2em;
		letter-spacing: 1.0px;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Source Sans Pro', sans-serif;

	}
}

nav {
	text-align: center;
	margin-top: 1.6em;

	.category {
		background-color: #407721;
		display: inline-block;
		width: 75px;
    	height: 75px;
    	border-radius: 100%;
    	margin: 0 0.3em;
    	cursor: pointer;

		img {
			width: 38px;
			padding-top: 0.3em;
		}

		p {
			font-size: 0.9em;
			font-weight: 600;
		}
	}

	.ramen {
		background-color: #e69a23;
	}

}

// Menu List Section

.menu-list {
	display: flex;
	flex-flow: wrap;
    justify-content: space-evenly;

	.menu {
		width: 45%;
		display: inline-block;
		background-color: #fff;
		margin-top: 1em;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		border-radius: 5px;	
	}
	.menu:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	img {
		width: 100%;
		border-radius: 5px 5px 0 0;
	}

	.menu-detail {
		padding: 7px;

		h3 {
			font-size: 1em;
		}
		p {
			font-size: 0.7em;
			margin-top: 0.3em;
			color: #707070;
		}
		hr {
			border: none;
            height: 1px;
            color: #fff;
            background-color: darkgrey;
            margin: 0.46em 0;
		}
	}

	
}













