* {
    padding:0;
    margin:0;
    list-style-type:none;
    // font-family: 'Source Sans Pro', sans-serif;
}
body {
	background-color: #341a09;
}


.top{
	margin:1em;
	position: relative;

	.back-btn {
		position: absolute;
		top:0;
		left:0;
		height: 2.5em;
	    display: block;

	    img{
			display: block;
			height: 100%;
	    }
	}
	p {
		line-height: 2.5rem;
		color: #fff;
		font-weight: 300;
		font-size: 1.2em;
		letter-spacing: 1.0px;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Source Sans Pro', sans-serif;

	}
}

nav {
	text-align: center;
	margin-top: 1.6em;

	.category {
		background-color: #407721;
		display: inline-block;
		width: 75px;
    	height: 75px;
    	border-radius: 100%;
    	margin: 0 0.3em;

		img {
			width: 38px;
			padding-top: 0.3em;
		}

		p {
			font-size: 0.9em;
			font-weight: 600;
		}
	}

	.ramen {
		background-color: #e69a23;
	}

}

// Menu List Section

.menu-list {
	width: 100%;
	background-color: red;
	margin-top: 1em;

	.menu-image {
		
		img {
			width: 15em;
		}
	}
}













