* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box; }

body {
  background-color: #341a09;
  font-family: Source Sans Pro; }

main {
  position: relative;
  overflow: hidden; }

.btn-back {
  color: white;
  font-size: 20px;
  text-decoration: none; }

#Home {
  display: flex;
  height: 100vh;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center; }
  #Home .home__top {
    background: url(mainphoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
  #Home .logo img {
    width: 20em; }
  #Home .home__bottom {
    background-color: #341a09; }
    #Home .home__bottom .content {
      width: 261px;
      margin: auto;
      text-align: center;
      display: flex;
      flex-flow: column; }
    #Home .home__bottom h3 {
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      letter-spacing: 2px;
      padding-top: 1em;
      padding-bottom: 0.5em;
      font-size: 22px; }
    #Home .home__bottom hr {
      border: none;
      height: 1px;
      color: #fff;
      background-color: #fff; }
    #Home .home__bottom p {
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-size: 13px;
      letter-spacing: 0.7px;
      padding-top: 1em; }
    #Home .home__bottom a {
      text-decoration: none;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 20px;
      border-radius: 15px;
      padding: 13px;
      margin-top: 15px;
      width: 158px;
      margin: auto; }
    #Home .home__bottom .quickstart-btn {
      background-color: #e69a23;
      color: #341a09;
      margin-top: 1.2em; }
    #Home .home__bottom .login-btn {
      background-color: #407721;
      color: #341a09;
      margin-top: 0.8em; }

#QuickStart {
  background-image: url(ordertype.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%; }
  #QuickStart .module-page {
    position: absolute; }
  #QuickStart .module-wrapper {
    width: 100%;
    position: relative; }
    #QuickStart .module-wrapper p {
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      text-align: center;
      letter-spacing: 0.7px;
      line-height: 1.4;
      margin-top: -0.5em;
      margin-bottom: 2em; }
  #QuickStart .back-btn {
    width: 43px;
    margin-top: 15px;
    margin-left: 8px; }
  #QuickStart .logo {
    width: 60%;
    margin: 1em auto; }
    #QuickStart .logo img {
      display: block;
      width: 100%; }
  #QuickStart .ordertype_icon {
    width: 60px; }
  #QuickStart .button {
    text-decoration: none;
    color: #341a09;
    letter-spacing: 0.8px;
    display: block;
    width: 82%;
    margin: 1em auto;
    display: flex;
    align-items: center;
    border-radius: 0.5em;
    padding: 1em;
    box-sizing: border-box; }
    #QuickStart .button .button-text {
      flex: 1 0 auto;
      display: block;
      font-size: 1.7em;
      margin-left: 0.5em;
      padding-left: 0.5em;
      border-left: thin #341a09 solid;
      text-transform: uppercase;
      font-weight: 700; }
      #QuickStart .button .button-text .sub {
        display: block;
        font-size: 0.2em;
        font-weight: 700;
        letter-spacing: 0.5px; }
  #QuickStart .delivery {
    background-color: #407721; }
  #QuickStart .pick-up {
    background-color: #e69a23; }

#Login {
  background: blue; }

#Home .home__top, #Home .home__bottom {
  flex: 1;
  width: 100%; }

.module-page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  transition: left 0.2s ease-in-out;
  background: black; }

* {
  font-family: 'Source Sans Pro', sans-serif; }

body#Customize {
  background-image: url("bgi.jpg");
  background-size: cover; }

.top {
  margin: 1em;
  position: relative; }
  .top .back-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5em;
    display: block; }
    .top .back-btn img {
      display: block;
      height: 100%; }
  .top p {
    line-height: 2.5rem;
    color: #fff;
    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: 1.0px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif; }

.content {
  text-align: center;
  margin-top: 1.7em;
  padding: 0 2.7em; }
  .content h1 {
    color: #fff;
    letter-spacing: 1.0px;
    font-weight: 500;
    font-size: 1.9em;
    font-family: 'Source Sans Pro', sans-serif; }
  .content > p {
    color: darkgrey;
    font-weight: 400;
    font-size: 0.8em;
    font-family: 'Source Sans Pro', sans-serif; }

.price-controller {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  align-items: center; }
  .price-controller h2 {
    flex: 0 0 auto;
    color: #fff;
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 1.0px;
    font-family: 'Source Sans Pro', sans-serif; }
  .price-controller .line {
    flex: 1 0 auto;
    border-bottom: thin dashed white;
    margin: 0 1.3em; }

.add-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #e69a23;
  border-radius: 5px; }
  .add-box.add-box-small {
    width: 90%;
    margin: auto;
    font-size: 0.8em; }
  .add-box button {
    border: 0;
    background: none;
    padding: 0.5em;
    outline: none; }
    .add-box button:active {
      background: rgba(0, 0, 0, 0.3); }
  .add-box span {
    width: 3em;
    color: black; }

.ramen-img {
  text-align: center;
  position: relative; }
  .ramen-img img {
    width: 17em; }
  .ramen-img .yourorder-box {
    position: absolute;
    right: 1em;
    bottom: 0;
    background-color: #e69a23;
    border-radius: 100%;
    width: 5em;
    height: 5em;
    box-shadow: -2px 4px 42px 10px rgba(0, 0, 0, 0.75); }
    .ramen-img .yourorder-box .yourorder-box-wrapper {
      position: relative;
      width: 100%;
      height: 100%; }
    .ramen-img .yourorder-box span {
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Source Sans Pro', sans-serif;
      color: #341a09; }
    .ramen-img .yourorder-box .quantity {
      position: absolute;
      top: -10px;
      right: -10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2em;
      height: 2em;
      background-color: red;
      border-radius: 100%;
      border: 2px solid #fff;
      color: black; }

.ingredients-wrapper {
  display: flex;
  flex-flow: wrap;
  margin-top: 1em;
  padding: 0 1em; }
  .ingredients-wrapper .ingredients {
    display: inline-block;
    text-align: center;
    width: 25%;
    padding: 0 1em; }
    .ingredients-wrapper .ingredients > img {
      width: 100%; }
  .ingredients-wrapper .ingredients-content {
    color: #fff;
    position: relative;
    padding-top: 1.5em; }
    .ingredients-wrapper .ingredients-content > h2 {
      font-size: 1em;
      font-weight: 400;
      letter-spacing: 0.7px;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%); }
    .ingredients-wrapper .ingredients-content > p {
      font-size: 0.8em;
      margin-bottom: 0.5em; }

.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0; }
  .popup .container {
    flex: 0 0 90%;
    background-color: white;
    position: relative;
    border-radius: 10px; }
    .popup .container .dismiss {
      position: absolute;
      top: 0.25em;
      right: 0.3em;
      font-size: 1.7em;
      color: darkgrey; }
  .popup .total {
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 1em;
    padding: 0 0.7em;
    letter-spacing: 0.6px; }
  .popup .place-order-btn {
    display: block;
    text-align: center; }
    .popup .place-order-btn .place-order {
      background-color: #e69a23;
      box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.59);
      width: 5.5em;
      height: 5.5em;
      border-radius: 100%;
      margin: auto;
      margin-top: 6em; }
    .popup .place-order-btn .alert {
      width: 3.3em;
      padding-top: 1em; }
  .popup .next {
    font-size: 1.1em;
    letter-spacing: 0.5px;
    margin: 0.6em 0 0.9em;
    font-weight: 700; }
  .popup .contents2 {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .popup .contents2 .bill {
      width: 3em;
      height: 3em; }
    .popup .contents2 .total2 {
      font-size: 2em;
      color: #8c8c8c; }
  .popup .contents3 {
    border-bottom: 1px #8c8c8c solid;
    margin: 0 1.3em;
    padding-bottom: 1.3em; }
    .popup .contents3 > h2 {
      text-align: center;
      letter-spacing: 0.6px; }
    .popup .contents3 .table {
      text-align: center;
      color: #8c8c8c; }
    .popup .contents3 .add-box2 {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background: #e69a23;
      border-radius: 5px;
      width: 6em;
      height: 2em;
      margin: auto;
      margin-top: 0.8em; }
      .popup .contents3 .add-box2 > button {
        border: 0;
        background: none;
        padding: 0.5em;
        outline: none; }
      .popup .contents3 .add-box2 > span {
        font-size: 1.5em; }
      .popup .contents3 .add-box2 .minus2 {
        font-size: 1em; }
      .popup .contents3 .add-box2 .plus2 {
        font-size: 1.3em; }
    .popup .contents3 h3 {
      text-align: center;
      letter-spacing: 0.6px;
      margin-top: 1em; }
    .popup .contents3 .time {
      text-align: center;
      color: #8c8c8c;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 0.5em; }
    .popup .contents3 .time-selected {
      background-color: #e69a23;
      color: black;
      padding: 0.3em;
      border-radius: 6px; }
  .popup .next2 {
    background-color: #5d9443;
    color: #fff;
    padding: 0.7em 4em;
    border-radius: 10px;
    display: block;
    margin: 1.2em auto;
    letter-spacing: 0.7px;
    font-size: 1.3em;
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.59); }
  .popup h1 {
    text-align: center;
    margin-top: 1em;
    letter-spacing: 0.9px; }
  .popup .contents {
    border-top: 1px #B1B1B1 solid;
    border-bottom: 1px #B1B1B1 solid;
    padding: 1em;
    margin: 1em; }
    .popup .contents .delete {
      background-color: red;
      width: 1em;
      height: 1em; }
    .popup .contents p {
      display: flex;
      align-items: center; }
      .popup .contents p > span {
        display: block; }
      .popup .contents p .quantity {
        flex: 0 0 1rem; }
      .popup .contents p .line {
        flex: 0 0 3rem;
        border-bottom: thin dashed #505050;
        margin: 0 1rem;
        padding-bottom: 0.3em; }
      .popup .contents p .item {
        flex: 1 0 auto;
        text-align: right; }
      .popup .contents p .color {
        color: #707070;
        padding-top: 0.45em; }
    .popup .contents .title {
      font-weight: bold;
      font-size: 1.25em;
      color: black; }
  .popup.show {
    display: flex; }
  .popup .contents4 {
    display: flex;
    justify-content: space-between; }
    .popup .contents4 .card {
      background-color: #d6d6d6;
      padding: 0.3em 2.5em;
      border-radius: 7px; }
      .popup .contents4 .card > img {
        width: 3em;
        height: 3em; }
    .popup .contents4 .store {
      background-color: #f2b646;
      padding: 0.3em 2.5em;
      border-radius: 7px; }
      .popup .contents4 .store > img {
        width: 3em; }
  .popup .info {
    text-align: center; }
    .popup .info > h2 {
      color: #5d9443; }
    .popup .info > p {
      color: #8c8c8c; }
  .popup .code {
    width: 10em;
    margin: auto;
    display: block;
    margin: 1em auto; }
  .popup .next3 {
    background-color: #5d9443;
    color: #fff;
    padding: 0.7em 4em;
    border-radius: 10px;
    display: block;
    margin: 1.2em auto;
    letter-spacing: 0.7px;
    font-size: 1.3em;
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.59); }
  .popup a {
    text-decoration: none; }

.top {
  margin: 1em;
  position: relative; }
  .top .back-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5em;
    display: block; }
    .top .back-btn img {
      display: block;
      height: 100%; }
  .top p {
    line-height: 2.5rem;
    color: #fff;
    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: 1.0px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif; }

nav {
  text-align: center;
  margin-top: 1.6em; }
  nav .category {
    background-color: #407721;
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    margin: 0 0.3em;
    cursor: pointer; }
    nav .category img {
      width: 38px;
      padding-top: 0.3em; }
    nav .category p {
      font-size: 0.9em;
      font-weight: 600; }
  nav .ramen {
    background-color: #e69a23; }

.menu-list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly; }
  .menu-list .menu {
    width: 45%;
    display: inline-block;
    background-color: #fff;
    margin-top: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer; }
  .menu-list .menu:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
  .menu-list img {
    width: 100%;
    border-radius: 5px 5px 0 0; }
  .menu-list .menu-detail {
    padding: 7px; }
    .menu-list .menu-detail h3 {
      font-size: 1em; }
    .menu-list .menu-detail p {
      font-size: 0.7em;
      margin-top: 0.3em;
      color: #707070; }
    .menu-list .menu-detail hr {
      border: none;
      height: 1px;
      color: #fff;
      background-color: darkgrey;
      margin: 0.46em 0; }
    .menu-list .menu-detail .gluten {
      font-size: 0.9em; }
    .menu-list .menu-detail .gluten-hr {
      margin-top: 0.6em; }

/*# sourceMappingURL=style.css.map */
