
.contents {
	width: 78%;
    margin: 1em auto;
    text-align: center;
    color: white;

    >h2{
		font-family: $font-stack;
		font-weight: 300;
    }
	
	.meal-question{
		font-size: 1.4em;
	}

	.breakfast {
		color: white;
		letter-spacing: 1.2px;
		text-align: right;
		margin-right: 0.6em;
		margin-top: 0;
	}
	
	.pretty{
		margin-top: 1.5em;
	}
	// Number increase and decrease button

    .number-controller {
		font-size: 1.9em;
	    margin-top: 0.3em;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    margin-bottom: 0.8em;

		
		.minus,.plus {
			color: white;
			font-size: 0.6em;
			background-color: $primary-color;
			padding: 0.4em 0.5em;
			border-radius: 100%;
			border: 1.47px white solid;
			margin: 0 1.5em;
		}

		>span{
			font-size: 1.2em;
		}

    }
	
    .see-result-btn {
		font-size: 1.3em;
		background-color: $primary-color;
		color: white;
		font-family: $font-stack;
		font-weight: 400;
		padding: 0.3em 0.8em;
		border-radius: 10px;
		border: 1.47px white solid;
		margin-top: 0.5em;
		letter-spacing: 1.1px;
    }

    .next {
        margin-top: 3em;
        padding: 0.3em 1.7em;
    }
	
	.total-cost {
		margin-top: 2em;
	}

    p {
    	font-family: $font-stack;
		font-weight: 300;
		margin-top: 0.3em;
		color: lightgrey;
    }
}



// 4 type buttons
.contents-bottom {
    // text-align: center;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    .accommodation-type {
        // display: flex;
        // display: inline-block;

        .type{
            display:block;
            background-color: $primary-color;
            color: white;
            text-align: center;
            // padding: 1.2em 1.5em;
            border-radius: 10px;
            border: 1.4px white solid;
            margin: 0.2em;
            filter:brightness(0.5);
            transition: filter .3s ease-in-out;
            pointer-events: none;

            &.active {
                pointer-events: auto;
                filter:brightness(1);
            }

            h3 {
                font-family: $font-stack;
                font-weight: 300; 
                font-size: 1.3em;
            }

            p {
                font-family: $font-stack;
                font-weight: 300;
                font-size: 0.9em;
            }
            &.hostel {
                padding: 0.7em 1.7em;

                >img {
                    width: 3em;
                }
            }

            &.motel{
                padding: 0.7em 1.74em;

                >img {
                    width: 3.5em;
                }
            }
            &.hotel{
                padding: 0.45em 1.5em;

                >img {
                    width: 3em;
                }
            }
            &.house{
                padding: 0.57em 1.5em;

                >img {
                    width: 3.2em;
                    margin: 0.3em 0em;
                }
            }
        }

    }
}

//Total cost button - result

.result {
    background-color: lightgrey;
    height: 11em;
    padding: 1em;
    margin-top: 1.5em;
    border-radius: 10px;
    height: 11em;
    
    .total-info {
        font-size: 1.4em;

        p {
            display: inline-block;
            color: $primary-color;
            font-family: $font-stack;
            font-weight: 600;
        }
    }

    .summary{
        display: inline-block;
        color: $primary-color;
        font-family: $font-stack;
        font-weight: 400;
        font-size: 1em;
        margin-top: 1em;

        span {
            font-weight: 600;
            text-decoration: underline;
        }

    }
}









