
.contents {
	width: 78%;
    margin: 1em auto;
    text-align: center;
    color: white;

    >h2{
		font-family: $font-stack;
		font-weight: 300;
    }

    .number-controller {
		font-size: 1.9em;
	    margin-top: 0.3em;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    margin-bottom: 0.8em;

		
		.minus,.plus {
			color: white;
			font-size: 0.6em;
			background-color: $primary-color;
			padding: 0.4em 0.5em;
			border-radius: 100%;
			border: 1.47px white solid;
			margin: 0 1.5em;
		}

		>span{
			font-size: 1.2em;
		}
    }

    .see-result-btn {
		font-size: 1.3em;
		background-color: $primary-color;
		color: white;
		font-family: $font-stack;
		font-weight: 400;
		padding: 0.3em 0.8em;
		border-radius: 10px;
		border: 1.47px white solid;
		margin-top: 0.5em;
		letter-spacing: 1.1px;
    }

    p {
    	font-family: $font-stack;
		font-weight: 300;
		margin-top: 0.3em;
		color: lightgrey;
    }
}





