* {
	margin: 0;
	padding: 0;
    text-decoration:none;
	box-sizing: border-box;
    font-family: helvetica, arial, sans-serif;
}

body {
    position:relative;
    height:100vh;
	background-image: url(background.jpg);
	background-position: center; /* Center the image */
  	background-repeat: no-repeat;
    background-size: cover;
}

.layer {
    display:none;
    position:absolute;
    width: 100%;
    height:100%;
    overflow:hidden;

    &.active {
        display:block;
    }

    .container {
        position: relative;
        height:100%;
    }
}

.top-nav {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
    color:white;
    .current-location {
        text-transform: uppercase;
    }
    a {
        color: white;
    }
}

.circular-nav {
    position:absolute;
    top:52%;
    left:0;
    width:550px;
    height:550px;
    transform:translate(-50%,-50%);
    border-radius:100%;
    border: 2px solid white;
    padding:50px;

    .circular-nav-container {
        position:relative;
        width:100%;
        height:100%;
        padding:5px;
        border-radius: 100%;
        border: 2px solid white;
    }

    .location-info {
        position:relative;
        width:100%;
        height:100%;
        background: url(wellington.jpg) center center /cover no-repeat;
        width:100%;
        height:100%;
        border-radius: 100%;
    }

    .location-info-wrapper {
        display:flex;
        flex-flow:column nowrap;
        justify-content: center;
        width:50%;
        height:100%;
        padding:0 2px 0 10px;
        margin-left:50%;
        color:white;

        .location-capital{
            font-size: 12px;
            margin-bottom:5px;
        }
        .location-name{
            font-size: 28px;
            font-weight:bold;
            text-transform:uppercase;
            margin-bottom:5px;
        }
        .location-date{
            font-size: 14px;
            font-weight:bold;
            padding: 5px 0;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            margin-bottom:5px;
        }
        .location-temp{
            font-size: 50px;
            font-weight:bold;
        }
    }
}
