* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: helvetica, arial, sans-serif; }

body {
  position: relative;
  height: 100vh;
  background-image: url(img/background.jpg);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  background-size: cover; }

.layer {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .layer.active {
    display: block; }
  .layer .container {
    position: relative;
    height: 100%; }

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white; }
  .top-nav .current-location {
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 1.5px; }
  .top-nav a {
    color: white; }
  .top-nav .fa-chevron-left {
    font-size: 1.8em; }
  .top-nav .fa-bars {
    font-size: 1.6em; }

.circular-nav {
  position: absolute;
  top: 52%;
  left: 0;
  width: 520px;
  height: 520px;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  border: 2px solid white;
  padding: 50px; }
  .circular-nav .circular-nav-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 100%;
    border: 2px solid white; }
  .circular-nav .location-info {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(img/wellington.jpg) center center/cover no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 100%; }
    .circular-nav .location-info .location-info-wrapper {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      width: 50%;
      height: 100%;
      padding: 0 2px 0 10px;
      margin-left: 50%;
      color: white; }
      .circular-nav .location-info .location-info-wrapper .location-capital {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 300;
        font-size: 12px; }
      .circular-nav .location-info .location-info-wrapper .location-name {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 400;
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 5px;
        letter-spacing: 1px; }
      .circular-nav .location-info .location-info-wrapper .location-date {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 400;
        font-size: 14px;
        padding: 5px 0;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        margin-bottom: 5px; }
      .circular-nav .location-info .location-info-wrapper .location-temp {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 50px;
        font-weight: 400; }
        .circular-nav .location-info .location-info-wrapper .location-temp img {
          width: 0.8em; }
  .circular-nav .circular-navigation {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .circular-nav .circular-navigation .nav-lists {
      position: relative;
      width: 100%;
      height: 100%; }
      .circular-nav .circular-navigation .nav-lists li {
        position: absolute;
        list-style: none;
        left: 50%;
        bottom: 50%;
        width: 70px;
        height: 71%;
        transform: translateX(-50%) rotate(-90deg);
        transform-origin: bottom; }
        .circular-nav .circular-navigation .nav-lists li .nav-list-wrapper {
          position: relative;
          display: flex;
          flex-flow: column;
          justify-content: flex-start; }
          .circular-nav .circular-navigation .nav-lists li .nav-list-wrapper a {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            border: 1px solid white;
            width: 100%;
            height: 70px;
            border-radius: 100%;
            background-color: #333C4D; }
            .circular-nav .circular-navigation .nav-lists li .nav-list-wrapper a .fas {
              font-size: 1.7em; }
            .circular-nav .circular-navigation .nav-lists li .nav-list-wrapper a span.nav-name {
              position: absolute;
              left: 50%;
              opacity: 0;
              margin-left: 0%; }
    .circular-nav .circular-navigation.circular-nav-loaded .nav-lists li:nth-child(1) {
      transition: 0.6s 0.1s transform ease-in-out;
      transform: translateX(-50%) rotate(40deg); }
      .circular-nav .circular-navigation.circular-nav-loaded .nav-lists li:nth-child(1) a {
        transform: rotate(-40deg); }
        .circular-nav .circular-navigation.circular-nav-loaded .nav-lists li:nth-child(1) a span.nav-name {
          opacity: 1;
          margin-left: 65%;
          transition: 0.8s 0.2s all ease-in-out; }
    .circular-nav .circular-navigation.circular-nav-loaded .nav-lists li:nth-child(2) {
      transition: 0.6s 0.2s transform ease-in-out;
      transform: translateX(-50%) rotate(65deg); }
      .circular-nav .circular-navigation.circular-nav-loaded .nav-lists li:nth-child(2) a {
        transform: rotate(-65deg); }
        .circular-nav .circular-navigation.circular-nav-loaded .nav-lists li:nth-child(2) a span.nav-name {
          opacity: 1;
          margin-left: 65%;
          transition: 0.8s 0.4s all ease-in-out; }
    .circular-nav .circular-navigation.circular-nav-loaded .nav-lists li:nth-child(3) {
      transition: 0.6s 0.3s transform ease-in-out;
      transform: translateX(-50%) rotate(90deg); }
      .circular-nav .circular-navigation.circular-nav-loaded .nav-lists li:nth-child(3) a {
        transform: rotate(-90deg); }
        .circular-nav .circular-navigation.circular-nav-loaded .nav-lists li:nth-child(3) a span.nav-name {
          opacity: 1;
          margin-left: 65%;
          transition: 0.8s 0.6s all ease-in-out; }
    .circular-nav .circular-navigation.circular-nav-loaded .nav-lists li:nth-child(4) {
      transition: 0.6s 0.4s transform ease-in-out;
      transform: translateX(-50%) rotate(115deg); }
      .circular-nav .circular-navigation.circular-nav-loaded .nav-lists li:nth-child(4) a {
        transform: rotate(-115deg); }
        .circular-nav .circular-navigation.circular-nav-loaded .nav-lists li:nth-child(4) a span.nav-name {
          opacity: 1;
          margin-left: 65%;
          transition: 0.8s 0.8s all ease-in-out; }
    .circular-nav .circular-navigation.circular-nav-loaded .nav-lists li:nth-child(5) {
      transition: 0.6s 0.5s transform ease-in-out;
      transform: translateX(-50%) rotate(140deg); }
      .circular-nav .circular-navigation.circular-nav-loaded .nav-lists li:nth-child(5) a {
        transform: rotate(-140deg); }
        .circular-nav .circular-navigation.circular-nav-loaded .nav-lists li:nth-child(5) a span.nav-name {
          opacity: 1;
          margin-left: 65%;
          transition: 0.8s 1s all ease-in-out; }

/*# sourceMappingURL=style.css.map */
